$primary50: #E2ECFF;
$primary100: #BDC7E4;
$primary200: #90A5D7;
$primary300: #637BBC;
$primary400: #4F68AF;
$primary500: #3E55A2;
$primary600: #2E4594;
$primary700: #203587;
$primary800: #14287A;
$primary900: #02115F;
$secondary: #F6BD2B;
$success: #51E25E;
$info: #3080ED;
$error: #FF6961;
$warning: #F0922B;
$white: white;
$black: black;
